stages:
  - docker-dev
  - deploy-dev
  - deploy-new-prd
  - deploy-test
  # - deploy-staging
  - docker-prd
  - deploy-prd


variables:
  AlertWebDockerFile: ./src/Web/Masa.Alert.Web.Admin.Server/Dockerfile
  AlertServiceDockerFile: ./src/Services/Masa.Alert.Service/Dockerfile

  Alert_Service_Image_DEV: $CI_ALI_REGISTRY_DOMAIN/masastack/masa-alert-service:dev-$CI_PIPELINE_ID
  Alert_Web_Image_DEV: $CI_ALI_REGISTRY_DOMAIN/masastack/masa-alert-web-admin:dev-$CI_PIPELINE_ID

  Alert_Service_Image: $CI_ALI_REGISTRY_DOMAIN/masastack/masa-alert-service:$CI_COMMIT_TAG
  Alert_Web_Image: $CI_ALI_REGISTRY_DOMAIN/masastack/masa-alert-web-admin:$CI_COMMIT_TAG

  NAMESPACE_DEV: masastack-dev
  NAMESPACE_TEST: masastack-test
  NAMESPACE_STAGING: masastack-staging
  NAMESPACE_PRD: masastack
  NAMESPAEC_SEC: masa-to-sec

docker-dev:
  stage: docker-dev
  tags:
    - linux-shell
  before_script:
    - docker login -u $CI_ALI_REGISTRY_USER -p $CI_ALI_REGISTRY_PASSWD $CI_ALI_REGISTRY_DOMAIN
  only:
    - main  
  script:
    - docker build -f $AlertWebDockerFile -t $Alert_Web_Image_DEV .
    - docker push $Alert_Web_Image_DEV 
    - docker build -f $AlertServiceDockerFile -t $Alert_Service_Image_DEV .
    - docker push $Alert_Service_Image_DEV
  after_script:
    - docker rmi $Alert_Service_Image_DEV 
    - docker rmi $Alert_Web_Image_DEV

deploy-dev:
  stage: deploy-dev
  image: registry.cn-hangzhou.aliyuncs.com/masa/library:kubectl-shell-v1.21.1
  only:
    - main
  script:
    - echo $KUBE_CONFIG_NEW_YDY | base64 -d > ./config
    - echo $CI_PIPELINE_ID
    - kubectl --kubeconfig ./config set image deployment/alert alert=$Alert_Web_Image_DEV -n $NAMESPACE_DEV
    - kubectl --kubeconfig ./config set image deployment/alert-service alert-service=$Alert_Service_Image_DEV -n $NAMESPACE_DEV
  retry: 2

deploy-sec:
  stage: deploy-dev
  image: registry.cn-hangzhou.aliyuncs.com/masa/library:kubectl-shell-v1.21.1
  only:
    - main
  script:
    - echo $KUBE_CONFIG_NEW_YDY | base64 -d > ./config
    - echo $CI_PIPELINE_ID
    - kubectl --kubeconfig ./config set image deployment/alert alert=$Alert_Web_Image_DEV -n $NAMESPACE_SEC
    - kubectl --kubeconfig ./config set image deployment/alert-service alert-service=$Alert_Service_Image_DEV -n $NAMESPACE_SEC
  retry: 2


deploy-prd:
  stage: deploy-new-prd
  image: registry.cn-hangzhou.aliyuncs.com/masa/library:kubectl-shell-v1.21.1
  only:
    - main
  script:
    - echo $KUBE_CONFIG_LSD_PRD_YDY | base64 -d > ./config
    - echo $CI_COMMIT_ID
    - kubectl --kubeconfig ./config set image deployment/alert alert=$Alert_Web_Image_DEV -n $NAMESPACE_PRD
    - kubectl --kubeconfig ./config set image deployment/alert-service alert-service=$Alert_Service_Image_DEV -n $NAMESPACE_PRD
  retry: 2



deploy-test:
  stage: deploy-test
  image: registry.cn-hangzhou.aliyuncs.com/masa/library:kubectl-shell-v1.21.1
  only:
    - main
  script:
    - echo $KUBE_CONFIG_NEW_YDY | base64 -d > ./config
    - echo $CI_PIPELINE_ID
    - kubectl --kubeconfig ./config set image deployment/alert alert=$Alert_Web_Image_DEV -n $NAMESPACE_TEST
    - kubectl --kubeconfig ./config set image deployment/alert-service alert-service=$Alert_Service_Image_DEV -n $NAMESPACE_TEST
  retry: 2
  when: manual

# deploy-staging:
#   stage: deploy-staging
#   image: registry.cn-hangzhou.aliyuncs.com/masa/library:kubectl-shell-v1.21.1
#   only:
#     - main
#   script:
#     - echo $KUBE_CONFIG_NEW_YDY | base64 -d > ./config
#     - echo $CI_PIPELINE_ID
#     - kubectl --kubeconfig ./config set image deployment/alert alert=$Alert_Web_Image_DEV -n $NAMESPACE_STAGING
#     - kubectl --kubeconfig ./config set image deployment/alert-service alert-service=$Alert_Service_Image_DEV -n $NAMESPACE_STAGING
#   retry: 2
#   when: manual

docker-prd:
  stage: docker-prd
  tags:
    - linux-shell
  image: registry.cn-hangzhou.aliyuncs.com/masa/library:kubectl-shell-v1.21.1
  only:
    - tags
  script:
    - docker build -f $AlertWebDockerFile -t $Alert_Web_Image .
    - docker push $Alert_Web_Image 
    - docker build -f $AlertServiceDockerFile -t $Alert_Service_Image .
    - docker push $Alert_Service_Image
  after_script:
    - docker rmi $Alert_Service_Image 
    - docker rmi $Alert_Web_Image

deploy-prd:
  stage: deploy-prd
  image: registry.cn-hangzhou.aliyuncs.com/masa/library:kubectl-shell-v1.21.1
  only:
    - tags
  script:
    - echo $KUBE_CONFIG_LSD_PRD_YDY | base64 -d > ./config
    - echo $CI_COMMIT_TAG
    - kubectl --kubeconfig ./config set image deployment/alert alert=$Alert_Web_Image -n $NAMESPACE_PRD
    - kubectl --kubeconfig ./config set image deployment/alert-service alert-service=$Alert_Service_Image -n $NAMESPACE_PRD
  retry: 2
  when: manual
