pre {
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
}

.json-pre {
    padding: 5px;
    color: #A3AED0 !important;
}

    .json-pre ::deep .string {
        color: green;
    }

    .json-pre ::deep .number {
        color: darkorange;
    }

    .json-pre ::deep .boolean {
        color: blue;
    }

    .json-pre ::deep .null {
        color: #A3AED0;
    }

    .json-pre ::deep .key {
        color: #F178B6;
    }
