@inherits AdminCompontentBase
<span class="@($"pa-2 rounded-4 subtitle2 {Class}")">@T(Value.ToString())</span>
@code {
    [Parameter]
    public AlarmHistoryHandleStatuses Value { get; set; }

    public string Class { get; set; }

    protected override void OnParametersSet()
    {
        switch (Value)
        {
            case AlarmHistoryHandleStatuses.Pending:
                Class = "warning--text warning-lighten";
                break;
            case AlarmHistoryHandleStatuses.InProcess:
                Class = "yellow-lighten";
                break;
            default:
                break;
        }
    }
}
