@inherits AdminCompontentBase
<span class="@($"pa-2 rounded-4 subtitle2 {Class}")">@T(Value.ToString())</span>
@code {
    [Parameter]
    public AlarmHistoryStatuses Value { get; set; }

    public string Class { get; set; }

    protected override void OnParametersSet()
    {
        switch (Value)
        {
            case AlarmHistoryStatuses.Pending:
                Class = "warning--text warning-lighten";
                break;
            case AlarmHistoryStatuses.InProcess:
                Class = "yellow-lighten";
                break;
            default:
                break;
        }
    }
}
