@inherits AdminCompontentBase
<MRow Justify="JustifyTypes.SpaceBetween" Align="AlignTypes.Center">
    <MCol>
        <span class="emphasis--text btn">@T("YAxisUnits")：@AlarmRule?.ChartYAxisUnit</span>
        <span class="emphasis--text caption">@T("ChartPreviewTips")</span>
    </MCol>
    <MCol>
        <SDateTimeRangePicker @bind-StartTime="_startTime" @bind-EndTime="_endTime" Style="border:none" />
    </MCol>
</MRow>
<div class="d-flex align-center justify-center">
    <MECharts Option="_option" Width="Width" Height="Height">
    </MECharts>
</div>

@code {
    [Parameter]
    public StringNumber Width { get; set; } = 761;

    [Parameter]
    public StringNumber Height { get; set; } = 219;

    [EditorRequired]
    [Parameter]
    public AlarmRuleViewModel? AlarmRule { get; set; }

    protected override string? PageName { get; set; } = "AlarmChart";

    private DateTime? _startTime { get; set; }

    private DateTime? _endTime { get; set; }

    private object _option = new
    {
        Tooltip = new
        {
            Trigger = "axis",
        },
        Legend = new
        {
            Left = "3%",
            Data = new[] { "别名A", "别名B" }
        },
        Grid = new
        {
            Left = "3%",
            Right = "4%",
            Bottom = "3%",
            ContainLabel = true
        },
        XAxis = new
        {
            BoundaryGap = false,
            Data = new[] { "10-1", "10-2", "10-3", "10-4", "10-5", "10-6", "10-7", "10-8", "10-9", "10-10" }
        },
        YAxis = new
        {
            Type = "value"
        },
        Series = new[]
        {
            new
            {
                Name = "别名A",
                Type = "line",
                Stack = "Total",
                Data = new []{ 5, 20, 36, 10, 10, 20 , 20, 20, 20, 20}
            },
            new
            {
                Name = "别名B",
                Type = "line",
                Stack = "Total",
                Data = new []{ 35, 11, 44, 23, 5, 41 , 33, 20, 20, 20}
            }
    }
    };
}
