@inherits AdminCompontentBase
<DefaultSheetDialog Value="_visible" ValueChanged="HandleVisibleChanged"
                    Title="@T("ViewAlarmHistory")" ContentClass="sheet-dialog">
    <ChildContent>
        <AutoHeight Overflow>
            <AutoHeightContent>
                <div style="padding-left: 280px;padding-right: 280px;">
                    <DefaultTitle Class="mb-4">@T("AlarmDetails")</DefaultTitle>
                    <AlarmHistoryDetail AlarmHistory="_model" HandleStatusShow></AlarmHistoryDetail>
                </div>
            </AutoHeightContent>
            <FooterContent>
                <div class="d-flex">
                    @if (_entityId != default)
                    {
                        <SButton Class="btn" Text Color="error" OnClick="HandleDel">@T("Delete")</SButton>
                    }
                    <MSpacer></MSpacer>
                </div>
            </FooterContent>
        </AutoHeight>
       
    </ChildContent>
</DefaultSheetDialog>
